<div *ngIf="ricerca === 1">
  <h1>Cerca un volume in archivio</h1>
  <h2>Digita autore e/o titolo</h2>
  <label for="ricerca">Digita qui: </label>
  <input type="text" id="ricerca" (input)="eseguiRicerca()" (change)="eseguiRicerca()" /><br />
  <div *ngIf="libroSelezionato">
    <h3>Volume trovato</h3>
    <div>Titolo: {{titolo}}</div>
    <div>Autore: {{autore}}</div>
    <div>Posizione: {{posizione}}</div>
    <app-prestito [libroSelezionato] = "libroSelezionato" [archivioAttuale] = "archivioAttuale">
    </app-prestito>
    <app-rimozione [libroSelezionato] = "libroSelezionato" [archivioAttuale] = "archivioAttuale">    
    </app-rimozione>
  </div>
  <div *ngIf="trovati > 1">
    <p>Ci sono {{trovati}} risultati corrispondenti.</p>
  </div><br />
</div>
